<div class="container mt-5">
  <div class="row">
    <div class="col-8">
      <skinet-stepper [linearModeSelected]="true" #skinetStepper>
        <cdk-step [label]="'Address'" [completed]="checkoutForm.get('addressForm').valid">
          <skinet-checkout-address [checkoutForm]="checkoutForm"></skinet-checkout-address>
        </cdk-step>
        <cdk-step [label]="'Delivery'" [completed]="checkoutForm.get('deliveryForm').valid">
          <skinet-checkout-delivery [checkoutForm]="checkoutForm"></skinet-checkout-delivery>
        </cdk-step>
        <cdk-step [label]="'Review'">
          <skinet-checkout-review [skinetStepper]="skinetStepper"></skinet-checkout-review>
        </cdk-step>
        <cdk-step [label]="'Payment'">
          <skinet-checkout-payment [checkoutForm]="checkoutForm"></skinet-checkout-payment>
        </cdk-step>
      </skinet-stepper>
    </div>
    <div class="col-4">
      <skinet-order-total
        *ngIf="basketTotal$ | async"
        [shippingPrice]="(basketTotal$ | async).amount"
        [total]="(basketTotal$ | async).total"
        [subTotal]="(basketTotal$ | async).subtotal"
      ></skinet-order-total>
    </div>
  </div>
</div>
