<div class="container mt-2">
  <div *ngIf="(basket$ | async) === null">
    <p>There are no items in your basket</p>
  </div>
  <div *ngIf="basket$ | async as basket">
    <div class="pb-5">
      <div class="container">
        <div class="row">
          <div class="col-12 py-5 mb-1">
            <skinet-basket-summary
              (decrement)="decrementItemQty($event)"
              (increment)="incrementItemQty($event)"
              (remove)="removeBasketItem($event)"
              [items]="(basket$ | async).items"
            ></skinet-basket-summary>
          </div>
        </div>
        <div class="row">
          <div class="col-6 offset-6 d-grid gap-2">
            <skinet-order-total
              *ngIf="basketTotal$ | async"
              [shippingPrice]="(basketTotal$ | async).amount"
              [total]="(basketTotal$ | async).total"
              [subTotal]="(basketTotal$ | async).subtotal"
            ></skinet-order-total>
            <a routerLink="/checkout" class="btn btn-outline-primary py-2">Checkout</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
