<div class="bg-light px-4 text-uppercase fw-bold" style="padding: 1.2em;">Order Summary</div>
<div class="p-4">
  <p class="fst-italic mb-4">Shipping cost will be added depending on choices made during checkout</p>
  <ul class="list-unstyled mb-4">
    <li class="d-flex justify-content-between py-3 border-bottom">
      <strong class="text-muted">Order SubTotal</strong>
      <strong>{{ subTotal | currency }}</strong>
    </li>
    <li class="d-flex justify-content-between py-3 border-bottom">
      <strong class="text-muted">Shipping & Handling</strong>
      <strong>{{ shippingPrice | currency }}</strong>
    </li>
    <li class="d-flex justify-content-between py-3 border-bottom">
      <strong class="text-muted">Total</strong>
      <strong>{{ total | currency }}</strong>
    </li>
  </ul>
</div>
